body{
    background-color: black;
}
/* centering a div */
#div{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 2px solid white;
    display: flex;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);

}
 #main .id{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 2px solid white;
 }
 #main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
 }
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-radius: 20px;
    position: absolute;
    left: 600px;
    top: 300px;
    z-index: 9;

}
#box2{
    height: 200px;
    width: 200px;
    background-color: royalblue;
    border-radius: 20px;
    position: relative;
    left: 550px;
    top: 200px;
    z-index: 10;
    
}